.projects{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about{
    margin: 100px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}