@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background: #00091d;
}


.container{
  padding-left: 10%;
  padding-right: 10%;
}

p {
  font-family: 'Roboto Mono', monospace;
}

.custom-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: #000000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
}

.btn{
  background: #FFF;
  color: black;
  font-size: 16px;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn.dark-btn{
  background-color: #212EA0;
  color: white;
}